<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="konduto_antifraud" frontName="konduto_antifraud">
            <module name="Konduto_Antifraud" />
        </route>
    </router>
</config>