<?xml version="1.0" encoding="utf-8" ?>
<config>
    <system>
        <tab id="konduto" translate="label" sortOrder="0">
            <label>Konduto</label>
        </tab>
        <section id="konduto_antifraud" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <tab>konduto</tab>
            <label>Antifraud</label>
            <resource>Konduto_Antifraud::config</resource>
            <group id="settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Settings</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Module?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="enabled_analysis" translate="label comment" type="select" sortOrder="15" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Order Dispatch?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Activating the option, requests that go to the queue will be sent for analysis by Konduto.</comment>
                </field>

                <field id="environment" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Store Environment</label>
                    <source_model>Konduto\Antifraud\Model\Config\Source\Environment</source_model>
                </field>

                <field id="sandbox_private_key" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Sandbox Private Key</label>
                    <comment>TXXXXXXXXXXXXXXXXXXXX (21 characters)</comment>
                    <depends>
                        <field id="environment">0</field>
                    </depends>
                </field>

                <field id="sandbox_public_key" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Sandbox Public Key</label>
                    <comment>TXXXXXXXXXX (11 characters)</comment>
                    <depends>
                        <field id="environment">0</field>
                    </depends>
                </field>

                <field id="production_private_key" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Production Private Key</label>
                    <comment>PXXXXXXXXXXXXXXXXXXXX (21 characters)</comment>
                    <depends>
                        <field id="environment">1</field>
                    </depends>
                </field>

                <field id="production_public_key" translate="label comment" type="text" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Production Public Key</label>
                    <comment>PXXXXXXXXXX (11 characters)</comment>
                    <depends>
                        <field id="environment">1</field>
                    </depends>
                </field>

                <field id="debug" translate="label comment" type="select" sortOrder="70" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Logs?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Activating this option will create a file called konduto.log in the var / log folder. The log will contain the start and end date and time of the Cron. In addition to error messages.</comment>
                </field>

                <field id="payment_enabled" translate="label comment" type="multiselect" sortOrder="80" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Allowed payment methods</label>
                    <source_model>Konduto\Antifraud\Model\Config\Source\PaymentMethods</source_model>
                </field>
            </group>

            <group id="manage_status" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Manage Status</label>
                <field id="automatic_konduto_update" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable automatic order update by Konduto?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="approved_status" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Status after Approved</label>
                    <source_model>Konduto\Antifraud\Model\Config\Source\OrderStatus</source_model>
                </field>

                <field id="declined_status" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Status after Declined</label>
                    <source_model>Konduto\Antifraud\Model\Config\Source\OrderStatus</source_model>
                </field>

                <field id="not_authorized_status" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Status after Not Authorized</label>
                    <source_model>Konduto\Antifraud\Model\Config\Source\OrderStatus</source_model>
                </field>

                <field id="canceled_status" translate="label comment" type="select" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Status after Canceled</label>
                    <source_model>Konduto\Antifraud\Model\Config\Source\OrderStatus</source_model>
                </field>

                <field id="fraud_status" translate="label comment" type="select" sortOrder="70" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Status after Fraud</label>
                    <source_model>Konduto\Antifraud\Model\Config\Source\OrderStatus</source_model>
                </field>
            </group>

            <group id="address_mapping" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Address Mapping</label>
                <field id="address_street_map" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Attribute for Street</label>
                    <source_model>Konduto\Antifraud\Model\Config\Source\AddressAttribute</source_model>
                </field>
                <field id="address_number_map" translate="label comment" type="select" sortOrder="35" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Attribute for Street Number</label>
                    <source_model>Konduto\Antifraud\Model\Config\Source\AddressAttribute</source_model>
                </field>
                <field id="address_neighborhood_map" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Attribute for Neighborhood</label>
                    <source_model>Konduto\Antifraud\Model\Config\Source\AddressAttribute</source_model>
                </field>
                <field id="address_complement_map" translate="label comment" type="select" sortOrder="45" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Attribute for Complement</label>
                    <source_model>Konduto\Antifraud\Model\Config\Source\AddressAttribute</source_model>
                </field>
            </group>

            <group id="payment_mapping" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Payment Mapping</label>
                <field id="credit_map" translate="label comment" type="select" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Credit Card Map</label>
                    <source_model>Konduto\Antifraud\Model\Config\Source\PaymentMethods</source_model>
                </field>
                <field id="debit_map" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Debit Card Map</label>
                    <source_model>Konduto\Antifraud\Model\Config\Source\PaymentMethods</source_model>
                </field>
                <field id="boleto_map" translate="label comment" type="select" sortOrder="15" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Boleto Map</label>
                    <source_model>Konduto\Antifraud\Model\Config\Source\PaymentMethods</source_model>
                </field>
                <field id="transfer_map" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Transfer Map</label>
                    <source_model>Konduto\Antifraud\Model\Config\Source\PaymentMethods</source_model>
                </field>
                <field id="voucher_map" translate="label comment" type="select" sortOrder="25" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Voucher Map</label>
                    <source_model>Konduto\Antifraud\Model\Config\Source\PaymentMethods</source_model>
                </field>
            </group>

            <group id="customer_mapping" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Customer Mapping</label>
                <field id="konduto_identifier" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Konduto Customer Identifier</label>
                    <source_model>Konduto\Antifraud\Model\Config\Source\KondutoIdentifier</source_model>
                    <comment>Unique customer identifier. It can be any value (sequential, document, email) as long as it is consistent in future orders.</comment>
                </field>
                <field id="konduto_cpf_cnpj" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Attribute for Fiscal Document</label>
                    <source_model>Konduto\Antifraud\Model\Config\Source\CustomerAttribute</source_model>
                    <comment>Customer's tax document number (CPF, CNPJ, etc.).</comment>
                </field>
                <field id="konduto_customer_tag" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Client Tag?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Activating this option, the attribute chosen in the field above, will be sent by the Konduto script, the Customer tag.</comment>
                </field>
            </group>

            <group id="cron_config" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Advanced Options</label>
                <field id="enabled_advanced_options" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable advanced settings?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Watch out! It is recommended that you contact Konduto before enabling this option.</comment>
                </field>

                <field id="mass_order_qty" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Mass create order quantity</label>
                    <comment>The standard number of orders submitted for review is 120.</comment>
                    <depends>
                        <field id="enabled_advanced_options">1</field>
                    </depends>
                </field>

                <field id="cron_frequency" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Cron Execution Frequency</label>
                    <backend_model>Konduto\Antifraud\Model\Config\Source\CronConfig</backend_model>
                    <comment>The default Cron execution frequency is every minute.</comment>
                    <depends>
                        <field id="enabled_advanced_options">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>